@charset "UTF-8";
div{
	border: 5px solid black;
	margin: 5px;
}
div#wrap{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	

}


#header {
	text-align: center;
	padding: 30px 10px;
	font-size: 30px;
	background-color: skyblue;
	font-weight: bold;
}

#nav {
	background-color: black;
}

#nav>ul {
	display: flex;
	list-style-type: none;
	padding: 0px;
	padding-right: 20px;
	justify-content: flex-end;
}

#nav>ul>li {
	padding: 5px 10px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}
#nav>ul>li>a{
	text-decoration: none;
	color: white;
}

#contents {
	background-color: bisque;
	min-height: 500px;
	padding: 15px;

}